#frameworks
tensorflow-cpu~=2.19.0;sys_platform != 'darwin'
tensorflow~=2.19.0;sys_platform == 'darwin'
tensorflow-text~=2.19;platform_system != 'Windows'
# Torch.
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.6.0
torchvision>=0.16.0
# Library deps.
setuptools
dm-tree
regex
# Tooling deps.
huggingface_hub
pre-commit
astor
packaging
ruff
pytest
pytest-cov
build
namex