# Deep Learning Frameworks
tensorflow-cpu~=2.19.0;sys_platform != 'darwin'
tensorflow~=2.19.0;sys_platform == 'darwin'
tensorflow-text~=2.19;platform_system != 'Windows'
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.6.0
torchvision>=0.16.0
# Core Python Utilities
setuptools
regex
packaging
build
# ML/DL Libraries & Tools
dm-tree
huggingface_hub
scikit-learn
opencv-python
# Dev & Testing Tools
pre-commit
astor
ruff
pytest
pytest-cov
namex