# Deep Learning Frameworks
tensorflow
torch
torchvision
torchaudio
# Core Python Utilities
setuptools
regex
packaging
build
# ML/DL Libraries & Tools
dm-tree
huggingface_hub
scikit-learn
opencv-python
pandas
numpy
# Dev & Testing Tools
tqdm
pre-commit
astor
ruff
pytest
pytest-cov
namex